@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
	font-family: Spaceport;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../src/assets//fonts/Spaceport_2006.otf) format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.ctx-scrollbar::-webkit-scrollbar {
		width: 8px;
	}

	.ctx-scrollbar::-webkit-scrollbar-track {
		border-radius: 100vh;
		background: #ffffff00;
	}

	.ctx-scrollbar::-webkit-scrollbar-thumb {
		background: #cfcfcf;
		border-radius: 100vh;
	}

	.ctx-scrollbar::-webkit-scrollbar-thumb:hover {
		background: #b7b7b7;
	}
}

#tobBannerFree {
	background-image: url("../src/assets/svgs/mesh_gradient.svg");
	background-position: 20% 50%;
	animation: slide 7s infinite;
}

@keyframes slide {
	0% {
		background-position: 40% 50%;
	}
	40% {
		background-position: 100% 50%;
	}
	60% {
		background-position: 50% 50%;
	}
	80% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 40% 50%;
	}
}

.color-progress {
	background: linear-gradient(
		90deg,
		#fff20f 0%,
		#01fffd 33.33%,
		#d42bff 66.66%,
		#fff20f 100%
	);
	background-size: 200%;
	animation: moveGradient 5s linear infinite;
}

@keyframes moveGradient {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: -200% 0%;
	}
}
